<div class="row">
  <div class="col-sm-6 col-sm-push-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Create your first report</h3>
      </div>

      <div class="panel-body">
        <p>A conversion report tells you when links are clicked and when forms are submitted.</p>

        <p>Your report can be used to track things like clicks on call to action buttons, sign up forms, and product pages.</p>

        <div class="row">
          <div class="col-sm-12">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

