<div class="jumbotron text-center">
  <div class="container">
    <h1>Conversion.Report</h1>
    <h2>Really simple conversion tracking for your links &amp; forms</h2>
    <hr>
    <%= link_to 'Start tracking', trackers_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
