<div class="jumbotron text-center">
  <div class="container">
    <h1>Conversion.Report</h1>
    <h2>Really simple conversion tracking for the web.</h2>
    <hr>
    <%= link_to 'Get tracking', sign_up_path, class: 'btn btn-lg btn-default' %>
  </div>
</div>
