<div class="container">
<h2><%= @tracker.name %>
<h4>Tracker</h4>

<textarea class="form-control">
  <a href="#" data-cr-track-id="<%= @tracker.id %>"><%= @tracker.name %></a>
  <script src="https://scripts.convert.report/tracker.js"></script>
</textarea>

<%= link_to 'Back', trackers_path, class: "btn btn-sm btn-primary" %>

